@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");
:root{
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", sans-serif;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 120px;
    margin-left: auto;
}